<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background: rgb(235, 173, 135);font-family: cursive; color: #fff;padding: 30px;
        }
        h1{
            font-size: 48px;text-transform: uppercase;letter-spacing: 2px;text-align: center;
        }
        p,li{
            font-size: 16px;text-align: center;
        }
        ul{
            list-style-type: none;padding: 0;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <%- include ('nav.ejs') %>
    <h1>CONTACT PAGE</h1>
    <p><%= qs.dept %></p>
<!-- Video 26 -->

    <form id="contact-form">
        <label for="who">Who do you want to contact?</label>
        <input type="text" name="who">
        <label for="department">Which department ?</label>
        <input type="text" name="department">
        <label for="email">Your Email :</label>
        <input type="email" name="email"/>
        <input type="submit" value="submit"/>  
    </form>
    </body>
</html>