<!DOCTYPE html>
<html lang="en">
<head>
<link href="/assets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include ('nav.ejs') %>
   <h1>BACKEND TRYOUT</h1>
   <P>You would'nt find a website better than this</P>
</body>
</html>